{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal do CASI</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

    <header class="header">
        <div class="header-content">
            <a href="{% url 'home' %}">
                <img src="{% static 'assets/img/logo.png' %}" alt="Logo do CASI" class="logo-img">
            </a>
            <nav class="nav">
                <a href="{% url 'home' %}" class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Início</a> 
                <a href="{% url 'news_list' %}" class="nav-item">Notícias</a>
                <a href="{% url 'about' %}" class="nav-item">Sobre Nós</a>
                <a href="{% url 'events_list' %}" class="nav-item">Eventos</a>
                <a href="{% url 'research_groups_list' %}" class="nav-item">Grupos de Pesquisa</a>
                <a href="{% url 'documents_list' %}" class="nav-item">Documentos</a>
                <a href="{% url 'diretoria_list' %}" class="nav-item">Diretoria do CA</a>
                <a href="/admin/" class="nav-item"><img src="{% static 'assets/img/lock-icon.png' %}" alt="Login" class="lock-icon"></a>
            </nav>
        </div>
    </header>

    <main class="main-content">
        <section class="hero-section fade-in">
            <div id="banner-image-container" class="hero-image-container">
                <img src="{{ banner.image.url }}" alt="Banner do CASI" class="hero-image">
            </div>
            <div class="hero-text">
                <p>Seja bem-vindo ao</p>
                <h1>
                    Centro Acadêmico de<br>
                    Sistemas de Informação
                </h1>
            </div>
        </section> 

        <div class="content-section">
            <section class="news-container fade-in">
                <h2>Últimas Notícias</h2>
                <div class="news-list"></div>
            </section>
            
            <section class="faq-container fade-in">
                <h2>Perguntas Frequentes</h2>
                <div class="faq-list"></div>
            </section>
        </div>

        <section class="entities-section fade-in">
            <h2>Conheça as Entidades Discentes do Departamento</h2>
            <div class="entities-list"></div>
        </section>

    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-column">
                <h3>Sobre o CASI</h3>
                <p>O Centro Acadêmico de Sistemas de Informação representa os estudantes do curso de Sistemas de Informação da UFVJM, defendendo seus direitos e promovendo atividades acadêmicas e culturais.</p>
                           <div class="copyright">
                <p>© 2025 CASI UFVJM. Todos os direitos reservados.</p>
            </div>
            </div>
            <div class="footer-column">
                <h3>Links Rápidos</h3>
                <ul>
                    <li><a href="{% url 'diretoria_list' %}">Diretoria</a></li>
                    <li><a href="{% url 'documents_list' %}">Editais e Documentos</a></li>
                    <li><a href="{% url 'events_list' %}">Eventos</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Contato</h3>
                <p class="contact-item"><a href="mailto:casi@ufvjm.edu.br"><i class="fas fa-envelope footer-icon"></i> casi@ufvjm.edu.br</a></p>
                <p class="contact-item"><a href="https://maps.google.com/?cid=2921342388906897848&g_mp=Cidnb29nbGUubWFwcy5wbGFjZXMudjEuUGxhY2VzLlNlYXJjaFRleHQ" target="_blank"><i class="fas fa-map-marker-alt footer-icon"></i> Campus JK, Diamantina/MG</a></p>
                <p class="contact-item"><a href="https://www.instagram.com/casi.ufvjm/" target="_blank"><i class="fab fa-instagram footer-icon"></i> @casi.ufvjm</a></p>
            </div>
        </div>
        <div class="footer-bottom">
 
            <div class="developer-info">
                <p>Desenvolvido por: Daniel Rodrigues Pereira - Discente de Sistemas de Informação</p>
                <div class="developer-social-icons">
                    <a href="https://www.linkedin.com/in/daniel-rodrigues-pereira-29b1b7243/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/danielrp9" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.instagram.com/daniel_rodrigues9/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

        </div>
    </footer>
    
    <div id="data-urls" data-arrow-icon-url="{% static 'assets/img/icon_arrow.png' %}" data-chevron-icon-url="{% static 'assets/img/arrow.png' %}"></div>
    <div id="data-chevron-icon-url" data-chevron-icon-url="{% static 'assets/img/chevron-right.png' %}"></div>

    <div class="chat-widget">
        <div class="chat-icon" id="chatIcon">
            <div class="chat-avatar">
                <img src="{% static 'assets/profile/linus-profile.png' %}" alt="Assistente Linus">
            </div>
        </div>
        <div class="chat-container" id="chatContainer">
            <div class="chat-header">
                <div class="header-profile">
                    <img src="{% static 'assets/profile/linus-profile.png' %}" alt="Assistente Linus" class="header-avatar">
                    <div >
                        <h3 class="superior">Linus</h3>
                        <p>Assistente</p>
                    </div>
                </div>
                <button class="close-chat" id="closeChat">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="chat-body" id="chatBody">
                </div>
            <div class="chat-input" id="chatInput">
                <input type="text" id="userInput" placeholder="Digite sua mensagem...">
                <button id="sendMessage">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>

    <script src="{% static 'js/chat.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/scroll-animations.js' %}"></script>
</body>
</html>